
<div class="row form-group text-center">
	<%= link_to '测试轮投票结果', vote_results_path(:half => '0'), :class => 'btn btn-warning btn-lg' %>
</div>

<div class="row form-group text-center">
	<%= link_to '投票结果（上半场）', vote_results_path(:half => '1'), :class => 'btn btn-primary btn-lg' %>
	<%= link_to '投票结果（下半场）', vote_results_path(:half => '2'), :class => 'btn btn-primary btn-lg' %>
</div>

<div class="row form-group text-center">
	<%= link_to '抽奖', user_lottery_path, :class => 'btn btn-danger btn-lg' %>
</div>